body{
  background-color: chartreuse;
  text-align: center;
  color: blueviolet;
}

div {
  width: auto;
  height: auto;
  align-self: center;

  animation: rotation 5s infinite linear;
}


/* rotate images */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(359deg);
  }
}